@import "bootstrap";
@import "datatables";
@import "bootstrap_override";
@import "variables";
@import "bootswatch";

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 625px;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 250px 0 150px;
  color: white;
}

#aq2chile-title {
  font-size: 75px;
  font-weight: bold;
}

.daflag {
  display: block;
  margin: 0 auto;
}
