%header.masthead{ style: "background-image: 'http://www.fillmurray.com/1900/1267'" }
  .overlay
  .container
    .row
      .col-lg8.col-md-10.mx-auto
        .site-heading
          %h1 Action Quake II
          %span.subheading Lights... Camera... Action!

