%header.masthead
  .overlay
    %video{ loop: "", muted: "", autoplay: "", class: "fullscree-bg__video", style: "width: 1110px;"}
      %source{ src: image_path("short.mp4"), type: "video/mp4"}
  .container
    .row
      .col-lg8.col-md-10.mx-auto
        .site-heading
          %h1#aq2chile-title.text-center Action Quake II Chile

